body {
	font-family: 'Raleway', sans-serif;
}

#title {
	font-family: 'Oswald', sans-serif;
}

/*.dataButton {
	margin-bottom: 100px;
}*/

table, td, th {
	border: 2px solid black;
	padding: 20px;
	margin-bottom: 50px;

}

th {
	color: black;
	font-size: 150%;
	background-color: #ecbc00;
}

img {
	height: 300px;
	width: 300px;
}

.buttonSpacing {
	margin-left: 50px;
}

.buttonSpacing2 {
	margin-left: 400px;
	margin-top: -300px;
}

#beeTable {
	margin-left: auto - 300;
	margin-right: auto;
	width: 800px;
/*	margin-top: -150px;*/
/*	margin-bottom: 155px;*/
}

.headerSpacingLeft {
	margin-left: 40px;
}

.imageSpacingRight {
	margin-right: 20px;
}

.imageSpacingLeft {
	margin-left: 20px;
}

img {
	width: 38%;
}

#footer {
	text-align: center;
}



